spring-boot-web-services/src/main/resources/monitor.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://ws.node.bsutility.com" targetNamespace="http://ws.node.bsutility.com"
    elementFormDefault="qualified">
    <xs:element name="getMonitorRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nodeIp" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="getMonitorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="containers" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>